### one sample z test

In [1]:
import pandas as pd
import numpy as np
import scipy.stats
import matplotlib.pyplot as plt
df=pd.read_csv("D:\python_datascience\data sets\\bloodpressure.csv")
df

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [2]:
df.shape

(120, 5)

In [3]:
polulation_mean=df["bp_before"].mean()  ## taking population as bp_before
polulation_mean

156.45

In [4]:
s1=df["bp_before"][0:40]  ## taking one sample =s1
s1

0     143
1     163
2     153
3     153
4     146
5     150
6     148
7     153
8     153
9     158
10    149
11    173
12    165
13    145
14    143
15    152
16    141
17    176
18    143
19    162
20    149
21    156
22    151
23    159
24    164
25    154
26    152
27    142
28    162
29    155
30    175
31    184
32    167
33    148
34    170
35    159
36    149
37    140
38    185
39    160
Name: bp_before, dtype: int64

In [5]:
s1.mean() ### calculating sample mean

156.25

In [6]:
s1.std() ### calculating sample standard deviation

11.443842818806035

In [7]:
#pip install statsmodels

In [8]:
# Note : execute this command pip install statsmodels and then comment it out then re run all cells

In [9]:
from statsmodels.stats.weightstats import ztest

In [10]:
help(ztest)

Help on function ztest in module statsmodels.stats.weightstats:

ztest(x1, x2=None, value=0, alternative='two-sided', usevar='pooled', ddof=1.0)
    test for mean based on normal distribution, one or two samples

    In the case of two samples, the samples are assumed to be independent.

    Parameters
    ----------
    x1 : array_like, 1-D or 2-D
        first of the two independent samples
    x2 : array_like, 1-D or 2-D
        second of the two independent samples
    value : float
        In the one sample case, value is the mean of x1 under the Null
        hypothesis.
        In the two sample case, value is the difference between mean of x1 and
        mean of x2 under the Null hypothesis. The test statistic is
        `x1_mean - x2_mean - value`.
    alternative : str
        The alternative hypothesis, H1, has to be one of the following

           'two-sided': H1: difference in means not equal to value (default)
           'larger' :   H1: difference in means larger than value
           'smaller' :  H1: difference in means smaller than value

    usevar : str, 'pooled'
        Currently, only 'pooled' is implemented.
        If ``pooled``, then the standard deviation of the samples is assumed to be
        the same. see CompareMeans.ztest_ind for different options.
    ddof : int
        Degrees of freedom use in the calculation of the variance of the mean
        estimate. In the case of comparing means this is one, however it can
        be adjusted for testing other statistics (proportion, correlation)

    Returns
    -------
    tstat : float
        test statistic
    pvalue : float
        pvalue of the t-test

    Notes
    -----
    usevar not implemented, is always pooled in two sample case
    use CompareMeans instead.

#### one sample z test 

Let  
     
     Ho: sample mean is equal to population mean

     Ha: sample mean is not equal to population mean

In [11]:
### two tail test


zcal,pval=ztest(s1,value=156,alternative="two-sided")## two-sided  means two tail
print(pval,zcal)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

0.890109995889419 0.1381650250810727
accept null hypothesis

### means sample mean is equal to population mean

#### one sample z test 

Let  
     
     Ho:  population mean =156 = sample mean

     Ha:  population mean> 156

In [12]:
### right tail
zcal,pval=ztest(s1,value=156,alternative="larger")## larger means right  tail, value is population mean which we set for null hypothesis
print(pval,zcal)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

0.4450549979447095 0.1381650250810727
accept null hypothesis

### means sample mean is equal to population mean

#### one sample z test 

Let  
     
     Ho:  population mean =156 = sample mean

     Ha:  population mean< 156

In [13]:
zcal,pval=ztest(s1,value=156,alternative="smaller")## smaller  means left  tail
print(pval,zcal)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

0.5549450020552905 0.1381650250810727
accept null hypothesis

### means sample mean is equal to population mean

#### COMPUTE CI

In [14]:
lower_limit=s1.mean()-zcal*(s1.std()/np.sqrt(40))
upper_limit=s1.mean()+zcal*(s1.std()/np.sqrt(40))
print("confidence interval is ",lower_limit,upper_limit)

confidence interval is  156.0 156.5

## two sample z test

In [15]:
s1=df["bp_before"][0:40]  ## taking one sample =s1
s1.mean()

156.25

In [16]:
s2=df["bp_after"][0:40]
s2=df["bp_after"].mean() ### taking second sample =s2
s2

151.35833333333332

Let 

Ho= S1-S2=0 MEANS both sample mean are equal


Ha= s1-s2 !=0  means there is s significant difference bewteen two samples

In [17]:
### rifgt tail

zcal1,pval=ztest(s1,df["bp_after"][0:40],value=0,alternative="two-sided") ### value : significant difference is 0
print(zcal1,pval) 
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

1.4367589369629403 0.15078650190868437
accept null hypothesis

In [18]:
zcal1,pval=ztest(s1,df["bp_after"][0:40],value=10,alternative="two-sided") ### value : significant difference is 10
print(zcal1,pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

-1.8286022834073745 0.06745921038772974
accept null hypothesis

In [19]:
zcal1,pval=ztest(s1,df["bp_after"][0:40],value=10.5,alternative="two-sided") ### value : significant difference is 10.5
print(zcal1,pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

-1.9918703444258903 0.04638528553485794
reject null hypothesis

In [20]:
zcal1,pval=ztest(s1,df["bp_after"][0:40],value=11,alternative="two-sided")
print(zcal1,pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

-2.155138405444406 0.03115100514633669
reject null hypothesis

### in above two sample test  value of values 0,10,10.5 (till 10.5 ) it treats no difference between two sample means and accepted Ho after that 10.5 it treats significantly difference

### t-test

In [21]:
from scipy.stats import ttest_1samp
import numpy as np
data=np.random.normal(loc=30,scale=8,size=100) #create data set which contains random 100 values that follows normal distribution , here loc is mean, scale is std
l=[]
print(data)
for i in data:
    l.append(int(round(i,0))) ##  0 rounds to nearest integer
print(l,"\n")
print(np.mean(l))
print(np.median(l))
print(len(l))
###lets take a sample
l=np.array(l) ### converting list to arrays
sample_size=10  ## taking sample size is less than 30 for t test
age_sample=np.random.choice(l,sample_size)  ### it picks 10 samples random(The np.random.choice() is a Numpy library function that generates random numbers from a one-dimensional array.)
print(age_sample)
print(age_sample.mean())

[28.7280647  31.29831665 24.42719785 26.58915624 41.90983879 32.56212548
 22.611313   23.2751099  34.97756894 32.79679155 35.40914383 44.46271261
 12.35165723 23.56885664 45.46344027 42.30478941 38.09446955 37.53753748
 34.98767536 25.56393415 23.32711986 23.72378115 40.13315685 44.11807021
 17.91967558 38.29755748 30.85840004 26.80791888 35.22564629 11.35952864
 39.72127772 29.76640955 41.90493549 35.24058652 30.30425005 42.75536346
 34.91838365 34.87355344 16.89750289 39.42801313 33.79621301 25.76692571
 34.69905397 29.626873   27.29182523 28.3917855  41.41322318 30.66840486
 41.16886971 26.51292768 31.00579944 38.9311534  47.16585283 42.75418176
 29.25776107 31.2105834  40.78088752 38.76552322 18.34522333 24.19214992
 20.17806301 28.43978239 30.47809369 26.93533352 31.32906384 26.5090222
 34.02144652 28.17183988 13.02688283 28.57998386 16.21348957 17.92560563
 25.44503234 20.20287023 36.19711853  4.87914483 33.79654143 22.76535027
 26.57433339 30.60690584 35.14121601 35.12338946 28.29593525 28.85142687
 25.36784302 29.75879284 32.45253689 24.14674595 25.87414813 29.58926408
 26.32558581 33.24786834 51.77970177 26.38328632 40.43341709 28.19563971
 37.03290742 31.48958465 26.02057269 22.32661197]
[29, 31, 24, 27, 42, 33, 23, 23, 35, 33, 35, 44, 12, 24, 45, 42, 38, 38, 35, 26, 23, 24, 40, 44, 18, 38, 31, 27, 35, 11, 40, 30, 42, 35, 30, 43, 35, 35, 17, 39, 34, 26, 35, 30, 27, 28, 41, 31, 41, 27, 31, 39, 47, 43, 29, 31, 41, 39, 18, 24, 20, 28, 30, 27, 31, 27, 34, 28, 13, 29, 16, 18, 25, 20, 36, 5, 34, 23, 27, 31, 35, 35, 28, 29, 25, 30, 32, 24, 26, 30, 26, 33, 52, 26, 40, 28, 37, 31, 26, 22]

30.55
30.0
100
[24 24 26 30 25 26 47 23 43 40]
30.8

let 

Ho= population mean =np.mean(l)


Ha=population mean > np.mean(l)  # right tail

In [22]:
ttest,p_value=ttest_1samp(age_sample,np.mean(l)) ## here np.mean(l) is considered as population mean  for null hypothesis
print(ttest,p_value)
if p_value<0.05:
    print("reject null hypothesis")
else :
    print("reject null hypothesis")

0.08780491983578381 0.9319543910317497
reject null hypothesis

## chi square test

In [23]:
import seaborn as sns
df=sns.load_dataset("tips")

### observation table

In [25]:
dataset_table=pd.crosstab(df["sex"],df["smoker"])# create observation table
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [26]:
dataset_table.values

array([[60, 97],
       [33, 54]], dtype=int64)

#### Ho: There is no difference between twa categorical columns (smoker and sex are independent)
#### Ha: there is a relationship between sex and smoker

In [38]:
val=scipy.stats.chi2_contingency(dataset_table) ### in backend it calculates all the computation like expected values etc
val

(0.0,
 1.0,
 1,
 array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

above output means:

0.0 is chi calculated
1.0 is p value
1 is degree freedom

In [39]:
if val[1]<0.05:
    print("reject Null : there is relationship between smoker and sex")
else:
    print("accept null: there is no relationship between smoker and sex")

accept null: there is no relationship between smoker and sex

### anova test

In [40]:
import seaborn as sns
df1=sns.load_dataset("iris")
df1

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [41]:
df1.groupby(["species"])["petal_width"].agg("mean")

species
setosa        0.246
versicolor    1.326
virginica     2.026
Name: petal_width, dtype: float64

In [42]:
df_anova=df1[["petal_width","species"]]
df_anova

     petal_width    species
0            0.2     setosa
1            0.2     setosa
2            0.2     setosa
3            0.2     setosa
4            0.2     setosa
..           ...        ...
145          2.3  virginica
146          1.9  virginica
147          2.0  virginica
148          2.3  virginica
149          1.8  virginica

[150 rows x 2 columns]

In [43]:
df_anova["species"].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

or

In [44]:
grps=pd.unique(df_anova.species.values)
grps

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [34]:
d_data={grp:df_anova["petal_width"][df_anova.species==grp] for grp in grps}
d_data

{'setosa': 0     0.2
 1     0.2
 2     0.2
 3     0.2
 4     0.2
 5     0.4
 6     0.3
 7     0.2
 8     0.2
 9     0.1
 10    0.2
 11    0.2
 12    0.1
 13    0.1
 14    0.2
 15    0.4
 16    0.4
 17    0.3
 18    0.3
 19    0.3
 20    0.2
 21    0.4
 22    0.2
 23    0.5
 24    0.2
 25    0.2
 26    0.4
 27    0.2
 28    0.2
 29    0.2
 30    0.2
 31    0.4
 32    0.1
 33    0.2
 34    0.2
 35    0.2
 36    0.2
 37    0.1
 38    0.2
 39    0.2
 40    0.3
 41    0.3
 42    0.2
 43    0.6
 44    0.4
 45    0.3
 46    0.2
 47    0.2
 48    0.2
 49    0.2
 Name: petal_width, dtype: float64,
 'versicolor': 50    1.4
 51    1.5
 52    1.5
 53    1.3
 54    1.5
 55    1.3
 56    1.6
 57    1.0
 58    1.3
 59    1.4
 60    1.0
 61    1.5
 62    1.0
 63    1.4
 64    1.3
 65    1.4
 66    1.5
 67    1.0
 68    1.5
 69    1.1
 70    1.8
 71    1.3
 72    1.5
 73    1.2
 74    1.3
 75    1.4
 76    1.4
 77    1.7
 78    1.5
 79    1.0
 80    1.1
 81    1.0
 82    1.2
 83    1.6
 84    1.5
 85    1.6
 86    1.5
 87    1.3
 88    1.3
 89    1.3
 90    1.2
 91    1.4
 92    1.2
 93    1.0
 94    1.3
 95    1.2
 96    1.3
 97    1.3
 98    1.1
 99    1.3
 Name: petal_width, dtype: float64,
 'virginica': 100    2.5
 101    1.9
 102    2.1
 103    1.8
 104    2.2
 105    2.1
 106    1.7
 107    1.8
 108    1.8
 109    2.5
 110    2.0
 111    1.9
 112    2.1
 113    2.0
 114    2.4
 115    2.3
 116    1.8
 117    2.2
 118    2.3
 119    1.5
 120    2.3
 121    2.0
 122    2.0
 123    1.8
 124    2.1
 125    1.8
 126    1.8
 127    1.8
 128    2.1
 129    1.6
 130    1.9
 131    2.0
 132    2.2
 133    1.5
 134    1.4
 135    2.3
 136    2.4
 137    1.8
 138    1.8
 139    2.1
 140    2.4
 141    2.3
 142    1.9
 143    2.3
 144    2.5
 145    2.3
 146    1.9
 147    2.0
 148    2.3
 149    1.8
 Name: petal_width, dtype: float64}

Let 

Ho: There is no difference between petal width mean of setosa,versicolor,virginica categories of species.

H1: There is difference between petal width mean of setosa,versicolor,virginica categories of species.

In [45]:
fcal,p=scipy.stats.f_oneway(d_data["setosa"],d_data["versicolor"],d_data["virginica"])
print(fcal,p)
print(round(p,2))

960.007146801809 4.169445839443116e-85
0.0

In [48]:
if p<0.05:
    print("reject null") #ho is there is no difference between petal width mean of setosa,versicolor,virginica categories of species.

reject null